.btn
	padding: 17px 27px 16px 28px

	border-radius: 30px
	font-size: 20px
	font-weight: bold
	color: white
	background: linear-gradient(180deg, #FFA991 0%, #FF7852 100%)
	box-shadow: 0px 10px 25px rgba(255, 124, 84, 0.3)
