.card
	padding: 50px 40px
	border-radius: 30px
	background-color: $colorwhite
	&:not(:last-child)
		margin-right: 41px
	&__icon
		display: flex
		align-items: center
		justify-content: center
		margin: 0 auto 35px
		width: 100px
		height: 100px
		border-radius: 50%
	&__icon-1
		background: linear-gradient(180deg, #B8DEFF 0%, #1D97FF 100%)
		box-shadow: 0px 12px 25px rgba(72, 171, 255, 0.3)
	&__icon-2
		background: linear-gradient(180deg, #FFBBA9 0%, #FF6236 100%)
		box-shadow: 0px 12px 25px rgba(255, 122, 85, 0.3)
	&__icon-3
		background: linear-gradient(180deg, #FFE4AA 0%, #FF9C07 100%)
		box-shadow: 0px 12px 25px rgba(250, 168, 45, 0.3)
	&__icon-4
		background: linear-gradient(180deg, #AFE6EB 0%, #36BECB 100%)
		box-shadow: 0px 12px 25px rgba(17, 199, 217, 0.3)
	&__heading
		margin-bottom: 20px
		text-align: center
		font-size: 26px
		font-weight: 800
		color: $colorhead
	&__heading-team
		margin-bottom: 7px
	&__descr
		text-align: center
		font-size: 18px
		font-family: quicksand, sans-serif
		color: $colordescr
	&__pro
		height: 193px
		margin-bottom: 30px
		border-radius: 50%
	&__pro1
		background: linear-gradient(180deg, #FFE8BA 0%, #F3B73D 100%)
	&__pro2
		background: linear-gradient(180deg, #D5D1FF 0%, #837BDB 100%)
	&__pro3
		background: linear-gradient(180deg, #FFCCBC 0%, #FFBA7B 100%)
	&__pro4
		background: linear-gradient(180deg, #E1F5FC 0%, #97D2F2 100%)
	&__subheader
		font-weight: 700
		color: $colorsubhead
		text-align: center
		font-size: 18px

	&_team
		padding: 50px 46px 70px 46px
		border-radius: 146px
