$textcolor: #333
$mainfont: nunito, sans-serif
$descrfont: quicksand, sans-serif
$colorhead: #242851
$colordescr: #707283
$colorwhite: #fff
$colorsubhead: #FF7751
$colorcontainer: #FFECE4
$fontsizeh2: 64px
// IMPORT SECTION

// @import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('nunito', normal, 600, '../fonts/Nunito-SemiBold.woff2')
@include font('nunito', normal, 700, '../fonts/Nunito-Bold.woff2')
@include font('nunito', normal, 800, '../fonts/Nunito-ExtraBold.woff2')
@include font('quicksand', normal, 400, '../fonts/Quicksand-Regular.woff2')
@include font('quicksand', normal, 700, '../fonts/Quicksand-Bold.woff2')

// .preloader
// 	position: absolute
// 	top: 0
// 	left: 0
// 	width: 100%
// 	height: 100vh
// 	background-image: url('../images/dist/dog.gif')
// 	background-repeat: no-repeat
// 	background-color: #FFF
// 	background-position: center
// 	background-size: 400px
