$textcolor: #333
$mainfont: nunito, sans-serif
$descrfont: quicksand, sans-serif
$colorhead: #242851
$colordescr: #707283
$colorwhite: #fff
$colorsubhead: #FF7751
$colorcontainer: #FFECE4
$fontsizeh2: 64px
// IMPORT SECTION

// @import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		src: url($furl) format('woff2')

@include font('nunito', normal, 600, '../fonts/Nunito-SemiBold.woff2')
@include font('nunito', normal, 700, '../fonts/Nunito-Bold.woff2')
@include font('nunito', normal, 800, '../fonts/Nunito-ExtraBold.woff2')
@include font('quicksand', normal, 400, '../fonts/Quicksand-Regular.woff2')
@include font('quicksand', normal, 700, '../fonts/Quicksand-Bold.woff2')

::placeholder
	color: #666

*
	padding: 0
	border: 0
	margin: 0
	background: none
	color: inherit
	font: inherit
	list-style: none
	text-decoration: none

*,
*::before,
*::after
	box-sizing: border-box

body
	box-sizing: border-box
	font-family: $mainfont
	font-size: 16px
	color: $textcolor
	position: relative
	overflow-x: hidden
	background-color: #FFF8F5

ul
	margin: 0
	padding: 0
li
	list-style-type: none

a
	display: inline-block
	text-decoration: none
	cursor: pointer

p
	margin: 0
